<!-- Boostrap collapsable navbar code -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link mr-5" href="#" id="movie-library-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Movie Library
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="movie-library-link">
                <a href="" class="dropdown-item">All Movies</a>
                <a href="" class="dropdown-item">By Genre</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Price</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link mr-5" href="#" id="offer-library-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offer-library-link">
                <a href="" class="dropdown-item">New in Store</a>
                <a href="" class="dropdown-item">Special Offers</a>
                <a href="" class="dropdown-item">Last Chance!</a>
            </div>
        </li>
    </ul>
</div>
